$paginator_footer_height: 56px;

img {
    width: auto;
    height: 100px;
    border-radius: 0.25em;
    margin-bottom: 0.5em;
}

#search-criteria {
    margin: 1em;
}

#button-container {
    margin-left: 1em;
    justify-content: flex-end;
    align-items: center;
}

#sort-container {
    padding: 0 1em;
    align-items: center;
    flex-direction: row;
    margin-left: auto;
}

#min-focal-length-label {
    min-width: 10.5em;
}

#min-f-number-label {
    min-width: 6.5em;
}

.margin-1-x {
    margin: 0 1em;
}

.margin-1-right {
    margin-right: 1em;
}

.row-wrap {
    flex-wrap: wrap;
    margin-bottom: 0.75em;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: min-content;
    grid-gap: 1em;
    padding: 0 1em;
}

.img-container {
    align-items: center;
    align-content: space-between;
    padding: 0.5em;
    overflow: hidden;

    > img:hover {
        filter: brightness(110%);
        transform: scale(1.05);
        transition: all 0.3s ease-in-out;
    }
}

.paginator-footer {
    height: $paginator_footer_height;
}

.form-field {
    display: flex;
    align-items: center;
    margin: 0 1em;
}

.img-name {
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
}

.sort-button-animation-asc {
    animation: rotateAsc .5s ease-in-out;
    animation-fill-mode: forwards;
}

.sort-button-animation-desc {
    animation: rotateDesc .5s ease-in-out;
}

@keyframes rotateAsc {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

@keyframes rotateDesc {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(360deg);
    }
}
