<div class="content">
    <mat-card id="search-criteria">
        <mat-card-subtitle>Filter images</mat-card-subtitle>
        <mat-card-content class="card-content">
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput [(ngModel)]="searchCriteria.name" />
            </mat-form-field>
            <div id="button-container">
                <button mat-raised-button color="primary" (click)="filterImages()">Search</button>
            </div>
        </mat-card-content>
    </mat-card>
    <div class="gallery-container">
        <div class="img-container" *ngFor="let imgData of imagesData" (click)="navigateToSinglePictureView(imgData)">
            <img [src]="imgData.path | safeHtml" />
            <label>{{ imgData.name }}</label>
        </div>
    </div>
    <div class="paginator-footer">
        <mat-paginator
                [length]="imagesNumber"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                (page)="pageChange($event)"
        ></mat-paginator>
    </div>
</div>
