<div class="content" *ngIf="shouldDisplayImgView">
    <div  class="img-container">
        <img [src]="getImgPath() | safeHtml"/>
    </div>
    <div class="exif-table">
        <mat-card>
            <app-exif-display [imageDataFacade]="imageDataFacade"></app-exif-display>
        </mat-card>
    </div>
</div>
<app-issue-display type="oops" *ngIf="!shouldDisplayImgView">
    <h3>You forgot to choose picture. Choose one from gallery or use button below to choose another one.</h3>
    <button mat-raised-button color="primary" (click)="chooseSinglePicture()">
        <mat-icon>folder_open</mat-icon>
    </button>
</app-issue-display>
