<div class="content">
    <app-issue-display type="oops" *ngIf="!shouldDisplayImgView">
        <h3>You forgot to choose picture. Choose one from gallery or use button below to choose another one.</h3>
        <button mat-raised-button color="primary" (click)="chooseSinglePicture()">
            <mat-icon>folder_open</mat-icon>
        </button>
    </app-issue-display>
    <div *ngIf="shouldDisplayImgView" class="view-container">
        <div class="img-container">
            <mat-card align="center">
                            <img [src]="'data:image/jpeg;base64,'+ getImgBase64()"/>
<!--                <img src="assets/wide.jpeg"/>-->
            </mat-card>
        </div>
        <div class="exif-container">
            <app-exif-display></app-exif-display>
        </div>
    </div>
</div>
