.content{
  width: 100%;
  height: 100%;
}

.view-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  //background: green;
}

.img-container{
  padding: 0.5em;
  max-width: 100%;
  height: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  //background: red;
}

img{
  max-height: 95%;
  max-width: 95%;
}

.exif-container{
  //background: blue;
  width: 100%;
  height: 45%;
}

