<div class="content" *ngIf="shouldDisplayImgView">
    <div class="img-container">
        <img [src]="getImgPath() | safeHtml"/>
    </div>
    <div class="exif-table">
        <mat-card>
            <app-exif-display [imageDataFacade]="imageDataFacade" (openSinglePictureEvent)="chooseSinglePicture()"></app-exif-display>
        </mat-card>
    </div>
</div>
<app-issue-display type="oops" *ngIf="!shouldDisplayImgView">
    <h3>Choose picture from gallery or pick single picture using button below.</h3>
    <button mat-raised-button color="primary" (click)="chooseSinglePicture()">
        <mat-icon>image_search</mat-icon>
    </button>
</app-issue-display>
