<mat-toolbar color="primary">
    <button mat-icon-button id="hamburger" (click)="drawer.toggle()" matTooltip="Click to expand side menu">
        <mat-icon>menu</mat-icon>
    </button>
    <div class="title">
        <div class="title-part-1">photo</div>
        <div class="title-part-2">catalog</div>
    </div>
    <span class="spacer"></span>
    <button mat-icon-button (click)="chooseFolder()" matTooltip="Choose working directory">
        <mat-icon id="dir-select-icon">folder_open</mat-icon>
    </button>
</mat-toolbar>
<mat-drawer-container class="app-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="over">
        <mat-nav-list id="nav-list" (click)="drawer.toggle()">
            <mat-list-item routerLink="/gallery">
                <mat-icon>collections</mat-icon>
                <span class="nav-span">Gallery</span>
            </mat-list-item>
            <mat-list-item routerLink="/exif">
                <mat-icon>preview</mat-icon>
                <span class="nav-span">Exif viewer</span>
            </mat-list-item>
            <mat-list-item routerLink="/location">
                <mat-icon>place</mat-icon>
                <span class="nav-span">Location viewer</span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item id="settings-button" (click)="openSettingsDialog()">
                <mat-icon>settings</mat-icon>
                <span class="nav-span">Settings</span>
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>

    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>
