<mat-toolbar color="primary">
    <button class="button" (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <span>Photo Catalog</span>
</mat-toolbar>
<mat-sidenav-container class="app-container" autosize>

    <mat-sidenav class="sidenav" mode="side" opened="true" (mouseenter)="onMouseEnter()"
                 (mouseleave)="onMouseExit()"
                 [ngClass]="isSideNavFullWidth() ? 'full-size-nav' : 'min-size-nav'"
    >
        <mat-nav-list>
            <mat-list-item>
                <mat-icon class="nav-icon">info</mat-icon>
                <span class="nav-span" *ngIf="isSideNavFullWidth()">About</span>
            </mat-list-item>
            <mat-list-item>
                <mat-icon class="nav-icon">perm_media</mat-icon>
                <span class="nav-span" *ngIf="isSideNavFullWidth()">Choose directory</span>
            </mat-list-item>
            <mat-list-item>
                <mat-icon>collections</mat-icon>
                <span class="nav-span" *ngIf="isSideNavFullWidth()">Gallery</span>
            </mat-list-item>
            <mat-list-item>
                <mat-icon>place</mat-icon>
                <span class="nav-span" *ngIf="isSideNavFullWidth()">Location viewer</span>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>



