<mat-toolbar color="primary">
    <button class="button" (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <span>Photo Catalog</span>
</mat-toolbar>
<mat-sidenav-container class="app-container" autosize>

    <mat-sidenav class="sidenav" mode="side" [opened]="isExpanded">
        <mat-nav-list>
            <mat-list-item (click)="chooseFolder()">
                <mat-icon class="nav-icon">perm_media</mat-icon>
                <span class="nav-span">Choose directory</span>
            </mat-list-item>
            <mat-list-item>
                <mat-icon>collections</mat-icon>
                <span class="nav-span">Gallery</span>
            </mat-list-item>
            <mat-list-item>
                <mat-icon>place</mat-icon>
                <span class="nav-span">Location viewer</span>
            </mat-list-item>
        </mat-nav-list>
        <mat-divider></mat-divider>
        <span>
           Component with open directory tree to browse through
       </span>

    </mat-sidenav>

    <div class="main-content">
        <span>Gallery view with filtering options and map</span>
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>



