$columns-height: 4.5em;

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;
}

.edit-table-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}

#edit-title {
    flex-basis: 85%;
    margin-left: 1em;
}

#table {
    width: 50em;
    height: 100%;
    margin: 0 auto;
}

.mat-column-unit {
    width: 25vw;
    height: $columns-height;
}

.mat-column-value {
    width: 75vw;
    height: $columns-height;
}

.mat-from-width{
    width: 90%;
}

.mat-raised-button {
    margin: 0 0.5em;
    padding: 0 0.5em;
}
