<div *ngIf="apiLoaded">
    <google-map [options]="options" height="85vh" width="90vw">
        <map-marker
            #marker="mapMarker"
            *ngFor="let markerData of markersData"
            [position]="markerData.position"
            [options]="markerOptions"
            (mapClick)="openInfoWindow(marker, markerData.imagePath)"
            (mapDragend)="editExif(marker, markerData)"
        >
        </map-marker>
        <map-info-window> <img [src]="imagePath" /></map-info-window>
    </google-map>
</div>
